* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-image: url("./assest/bckg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
